/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC);
@font-face {
  /* This declaration targets Internet Explorer */
  font-family: 'CollegiateRegular';
  src: url("collegiate-webfont.eot"); }

@font-face {
  /* This declaration targets everything else */
  font-family: 'CollegiateRegular';
  src: url(//:) format("no404"), url("collegiate-webfont.woff") format("woff"), url("collegiate-webfont.ttf") format("truetype"), url("collegiate-webfont.svg#webfontVAiyPnfQ") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body {
  background-color: #fff;
  color: #333;
  font: 104%/1.8 georgia, serif; }
  body .block {
    display: block; }
  body .justify {
    text-align: justify; }
  body .italic {
    font-style: italic; }
  body #ribbon {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 11em;
    z-index: 999; }
    body #ribbon a {
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transition: rotate(45deg);
      -moz-transform-style: flat;
      -webkit-transform-style: flat;
      -o-transform-style: flat;
      transform-style: flat;
      -moz-box-shadow: 0 0 1em #888888;
      -webkit-box-shadow: 0 0 1em #888888;
      -o-box-shadow: 0 0 1em #888888;
      box-shadow: 0 0 1em #888888;
      display: block;
      padding: 0.1em 0;
      background: -moz-linear-gradient(100% 100% 90deg, #181c27, #191d28);
      background: -webkit-gradient(linear, left bottom, left top, from(#181c27), to(#191d28));
      background-color: #181c27;
      position: relative;
      right: -2.6em;
      top: 2.5em;
      text-decoration: none;
      border: 0; }
      body #ribbon a span {
        color: #fff;
        font: 0.95em 'CollegiateRegular', sans-serif;
        text-align: center;
        letter-spacing: -0.1px;
        display: block;
        padding: 0.2em 3em;
        border: 1px solid #62646b; }
  body #wrapper {
    width: 830px; }
  body header,
  body section {
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-top: 40px; }
  body header h1, body header h2 {
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 4.5em; }
  body header h1 {
    line-height: 90%; }
    body header h1 a, body header h1 a:link, body header h1 a:visited, body header h1 a:hover
    body header h1 a:active {
      display: block;
      color: #333;
      text-decoration: none; }
  body header h2 {
    font-size: 1.8em;
    line-height: 90%; }
  body section {
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #f5f5f5; }
    body section:first-of-type {
      border-top: 0; }
    body section:last-of-type {
      border-bottom: 0; }
    body section > h1 {
      font-size: 1.6em;
      margin-bottom: 20px; }
  body pre.prettyprint {
    font: 0.8em Monaco;
    margin-top: 10px;
    margin-right: -10px;
    padding-right: 10px; }
    body pre.prettyprint:not(:last-of-type) {
      margin-bottom: 20px; }

@media print {
  /* html5 boilerplate --- */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
